<header>
    <div class="logo">
        <a routerLink="/">
            <img src="/Logo.svg" alt="Unsplash logo">
        </a>
    </div>

    <div class="navigation">
        <nav>
            <ul>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/">
                        Home
                    </a>
                </li>
                <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
                    <a routerLink="/collections">
                        Collections
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>
