$primary-dark-blue: #121826;
$primary-dark-gray: #6C727F;
$secondary-light-gray: #E5E7EB;
$secondary-light-gray-alpha: #E5E7EBCC;
$white: #FFFFFF;

$small: 0.75rem;
$normal: 0.875rem;
$large: 1rem;
$title: 2.25rem;